{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form  action="/sell" method="POST">
        <select class="form-control" name="symbol" >
            <option disabled="" selected="" value="">Symbol</option>
            {% for stock in stocks %}
            <option >{{ stock.symbol }}</option>
            {% endfor %} 
        </select>
        <input name="quantity" type="number" min=1 placeholder=0 >
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}